---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
import Events from "../components/Events.astro"
import Highlights from '../components/Highlights.astro';
---

<Layout title="Positivus">
	<main class="space-y-20">
		<Landing/>
		<Events/>
		<Highlights/>
	</main>
</Layout>