---
// Define your navigation links here
const navLinks = [
  { href: '/80anniv/blog/tags/回顧/', label: '活動回顧'},
  { href: '/80anniv/#news', label: '最新消息'},
  { href: '/80anniv/#events', label: '系列活動' },
  { href: '/80anniv/#highlights', label: '十年亮點' },
  { href: '/80anniv/blog/sponsors', label: '捐款名錄' },
];

import Container from "./Container.astro";
---

<header class="mt-20">
  <nav class="w-full top-0 left-0 z-50 fixed bg-white">
    <Container>
      <div class="flex flex-wrap items-center justify-between mx-auto py-3">
        <a href="/80anniv/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/80anniv/vi/logo-80-badge.svg" class="h-16" alt="Logo" />
        </a>
        <!-- Toggle Button for Small Screens -->
        <button
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg sm:block md:hidden focus:outline-none focus:ring-2"
            aria-controls="navbar"
            aria-expanded="false"
            onclick="toggleNavbar()"
        >
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
        <!-- Navbar Links -->
        <div class="hidden w-full md:block md:w-auto" id="navbar">
          <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white ">
            {navLinks.map((link) => (
                <li>
                  <a href={link.href} class="block py-2 px-3 text-black rounded md:bg-transparent md:p-0">
                    {link.label}
                  </a>
                </li>
            ))}
          </ul>
        </div>
      </div>
    </Container>
  </nav>
</header>

<script is:inline>
  function toggleNavbar() {
    const navbar = document.getElementById('navbar');
    navbar.classList.toggle('hidden');
  }
</script>