---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
import BlogNewsCard from './blog/BlogNewsCard.astro';
import { getCollection } from 'astro:content';

// Fetch the blog posts and sort them by pubDate in descending order
const posts = await getCollection('blog').then((collection) =>
    collection.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())
);

// Take the top 5 most recent posts
const sortedPosts = posts.slice(0, 6);
---

<Container>
    <div class="relative flex-col items-center md:flex-row" id="news">
        <Topic title="最新消息" description="" />
    </div>

    <!-- Parent container with adjusted padding and styling -->
    <div class="flex flex-col items-center my-2 p-2 md:my-4 md:p-12 bg-zinc-100 rounded-[30px] md:rounded-[45px]">
        <!-- Use grid with responsive classes and equal height rows -->
        <ul class='grid grid-cols-1 md:grid-cols-2 gap-y-2 gap-x-2 md:gap-y-4 md:gap-x-4 w-full'>
            {
                sortedPosts.map((post) => (
                    <li class='flex w-full mx-auto'>
                        <BlogNewsCard post={post}/>
                    </li>
                ))
            }
        </ul>
    </div>
</Container>
