---
import type { CollectionEntry } from 'astro:content';
import NewsCard from '../generic/NewsCard.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<!-- Wrap the entire NewsCard component in an <a> tag and apply new hover styles -->
<a href={`/80anniv/blog/${post.slug}/`} class="block bg-white w-full hover:bg-theme_blue hover:text-white rounded-3xl border shadow-card">
  <NewsCard
    title={post.data.title}
    pubDate={post.data.pubDate}
    description={post.data.description}
  />
</a>
