---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='text-sm md:text-lg'>
  <a href='/80anniv/' title='Back to blog'>&larr; Back to home</a>
  <p class='text-lg text-brick'>
    Published on {content.pubDate} by {content.author}
  </p><br/>
  <slot />
  <a href='#' title='Back to top'>&uarr; Back to top</a>
</article>
