---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='text-sm md:text-lg'>
  <a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
  <p class='text-lg text-brick'>
    Published on {content.pubDate} by {content.author}
  </p><br/>
  <slot />
  <a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
</article>
