---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  pubDate: Date;
  description: string;
}

const { title, pubDate, description } = Astro.props;
---

<div class="flex flex-col p-6 mx-auto max-w-lg text-left text-gray-900 bg-white rounded-3xl border border-gray-100 shadow-card">
  <div class="flex items-center space-x-4">
    <span class="font-bold">{pubDate}</span>
    <span class="font-bold">{title}</span>
    <span>{description}</span>
  </div>
  <slot />
</div>
